BINANCE_API_KEY=xxx
BINANCE_API_SECRET=xxx
DISCORD_TOKEN=xxx
DISCORD_CHANNEL_ID=xxx
DISCORD_GUILD_ID=xxx

# Polymarket (L2 API Credentials)
POLYMARKET_ADDRESS=xxx

# Phantom dev wallet
POLYMARKET_PRIVATE_KEY_PROD=xxx

# Webshare proxy server
WEBSHARE_PROXY_ADDRESS=xxx
WEBSHARE_PROXY_PORT=xxx
WEBSHARE_PROXY_USERNAME=xxx
WEBSHARE_PROXY_PASSWORD=xxx