BINANCE_API_KEY=xxx
BINANCE_API_SECRET=xxx
DISCORD_TOKEN=xxx
DISCORD_CHANNEL_ID=xxx
DISCORD_GUILD_ID=xxx

# Polymarket (L2 API Credentials)
POLYMARKET_ADDRESS=xxx

POLYMARKET_API_KEY_DEV=xxx
POLYMARKET_SECRET_DEV=xxx
POLYMARKET_PASSPHRASE_DEV=xxx

POLYMARKET_API_KEY_STAGE=xxx
POLYMARKET_SECRET_STAGE=xxx
POLYMARKET_PASSPHRASE_STAGE=xxx

POLYMARKET_API_KEY_PROD=xxx
POLYMARKET_SECRET_PROD=xxx
POLYMARKET_PASSPHRASE_PROD=xxx
